#Text1 {
            width: 923px;
            height: 140px;
            margin-top: 0px;
        }
table{width:100%;display:table}
table{border:none}
table{border-collapse:collapse;border-spacing:0}
table{width:100%;display:table}
table{border:none}
table{border-collapse:collapse;border-spacing:0}
*{box-sizing:inherit}
*{box-sizing:inherit}
td.customerList {
    width:350px;
}
td{padding:15px 5px;display:table-cell;text-align:left;vertical-align:middle;border-radius:2px}td{border:none}td{padding:0}td{padding:15px 5px;display:table-cell;text-align:left;vertical-align:middle;border-radius:2px}td{border:none}td{padding:0}